body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0073e6;
    color: white;
    padding: 20px;
}

main {
    padding: 20px;
}
img .demo {
    width: 25%;
    margin: none;
    padding: none;
}

footer {
    background-color: #0073e6;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
